:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #feebc0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff7161;
  text-decoration: inherit;
}

a:hover {
  color: #ff7161;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ff7161;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #feebc0;
  }

  a:hover {
    color: #ff7161;
  }

  button {
    background-color: #f9f9f9;
  }
}

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

.container {
  max-width: 300px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 100%;
  }
}
